@import "reset";
$lightColor: #bc865c;
$darkColor: #000;
$txtColor: #f1f1f1;
$titleColor: #f1f1f1;

.App-main {
  background-color: $lightColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

@media screen and (min-width: 50em) {
  .App-main {
    height: 100vh;
    justify-content: left;
    align-content: left;

  }
}

.App-main-box {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  color: #fff;
  margin: 2em;
  width: 90%;
  height: 90vh;
  border-radius: 0 0 20px 20px;
  border-top: 2px solid white;
  border-left: 2px solid white;;
  border-right: 2px solid white;
}




.App-main-box-content {
  padding: 30px;
  height: 30em;
  margin:auto;
  font-weight:bolder;
}

@media screen and (min-width:50em) {
  .App-main-box-content {    
   width:80%;
   margin:0;
   
  }
}


.App-main-box-content-title {
  color: $txtColor;
  font-size: 1em;
  letter-spacing: 2px;
  font-weight: 100;
  line-height: 3em;
  text-transform: uppercase;
  margin:auto;
  text-align:center;
  font-weight:bolder;

}

@media screen and (min-width:50em) {
  .App-main-box-content-title {
      text-align: left;
  }
}

.App-main-box-content-text {
  line-height: 1.8em;
  height: 10em;
  font-weight:bolder;
}

.App-main-box-content-action {
  padding: 0.5em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: $lightColor;
  background-color: $titleColor;
  width: 90vw;
  margin-top: 19em;
  border-radius: 0 0 20px 20px;
}

h1 {
  text-align: center;
  margin:auto;

}
